.input-field {
  display: flex;
  justify-content: center; }

.the-grid {
  padding-top: 50px; }

img {
  border-radius: 5%; }

.pop {
  transition: all 0.2s ease-in-out; }
  .pop:hover {
    transform: scale(1.05); }
